<div class="row m-3 d-flex justify-content-center">
  <ng-template [ngIf]="trips.length > 0" [ngIfElse]="empty">
    <div class="col row-col-md-4 row-col-lg-2" *ngFor="let trip of trips">
      <div class="card m-2" style="width: 18rem">
        <img src="{{ trip.img }}" alt="{{ trip.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ trip.name }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: € {{ trip.price }}</li>
          <li class="list-group-item">Night: {{ trip.night }} nights</li>
          <li class="list-group-item">City: {{ trip.city }}</li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #empty>
    <p class="text-center fw-bold">No trips found</p>
  </ng-template>
</div>
