<div class="container">
  <h2>Think of luxury trip, think of Beyond Travel</h2>
  <p>
    Founded by two welknown luxury travel influencer Barney Thea and Sheryl
    Jones, this travel agency has always focused on encompassing the best of
    what best travel experience can offer worldwide. Across the globe, we’ve
    selected hundreds of best luxurious resorts, any of which will ensure a
    perfectly holiday experience for you. Since 1997 we’ve helped thousands of
    travelers enjoy their vacation time on luxurious resorts across all 5
    continents!
  </p>
</div>
